[user]
	name = Kamal Lama
	email = kamal09rumba@gmail.com
[core]
	editor = vim
[color]
  ui = auto
[color "status"]
  added = green bold
  changed = red bold
  untracked = magenta bold
  branch = green bold
